:root{
  --blue:#0069D9;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 62.5%;
}
header{
  margin: 7.5rem 0 1.5rem;
  text-align: center;
  font-size: 1.8rem;
}

.icon_header{
  width: auto;
  height: auto;
  border: solid black 0.1rem;
}

.data_fiels_form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.data_fiels_form label{
  align-self: flex-start;
  margin-left:5.5rem;
}
.user_input_section{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label_text{
  color:var(--blue);
}

.icon_form_user{
  width: 1.2rem;
  height: 1.2rem;
}
.input_user{
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2.0rem;
  text-align:left;
  border-top: none;
  border-right: none;
  border-left:none;
  border-color: #169DFF;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.user_input_section_password{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon_form_password{
  width: 1.2rem;
  height: 1.2rem;
}

.input_password{
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2.0rem;
  max-width: 262.5px;
  text-align:left;
  border-top: none;
  border-right: none;
  border-left:none;
  border-color: #169DFF;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.register_button{
  width: 70%;
  height: 3.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  border-radius:2.8rem;
  background-color:var(--blue);
  color:white;
  border-style: none;
  
}
.register_button:hover{
  background-color: #015896;
}
.login_button:hover{
  background-color: #015896;
}
.login_button{
  width: 70%;
  height: 3.8rem;
  font-size: 1.8rem;
  border-radius:2.8rem;
  background-color: var(--blue);
  color:white;
  border-style: none;
}

